<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <title>Meet The Meat</title>
</head>

<body>
    <p>Meet the Meat, conhecendo a carne e o fornecedor.</p>
    <input type="text" placeholder="Busque uma carne" name="pesquisa"></input>
    <span class="glyphicon glyphicon-search" href=""></span>
</body>

</html>